.rules-container {
    max-width: 95%; /* Увеличено до почти полной ширины страницы */
    margin: 0 auto;
    padding: 20px;
    background: var(--background-200);
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  }
  
  .category {
    margin-bottom: 20px;
  }
  
  .category-title {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--background-300);
    padding-bottom: 10px;
  }
  
  .rule {
    padding: 10px;
    border-left: 4px solid var(--oaccent);
    margin-top: 10px;
    background: var(--background-100);
  }
  
  .rule-title {
    font-weight: bold;
  }
  
  .rule-description {
    padding-left: 20px; /* Отступ для подпунктов */
  }