.stat {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 1px 1px #0000001a;
}

.stat-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.stat-label {
	font-size: 12px;
	margin-top: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stat-number {
	font-size: 24px;
	margin-top: 12px;
}

.text-color-black {
	color: #9a9a9a;
}

.text-color-blue {
	color: #4697dd;
}

.text-color-green {
	color: #62bd3e;
}

.pulse {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	animation: pulse-animation 8s infinite;
}
.pulse-red {
	animation: pulse-animation-red 8s infinite;
	animation-delay: 2s;
}
.pulse-black {
	animation: pulse-animation-black 8s infinite;
	animation-delay: 4s;
}
.pulse-blue {
	animation: pulse-animation-blue 8s infinite;
	animation-delay: 6s;
}
.pulse-green {
	animation: pulse-animation-green 8s infinite;
	animation-delay: 8s;
	border-radius: 50%;
}


@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
	}
	25% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
}
@keyframes pulse-animation-red {
	0% {
		box-shadow: 0 0 0 0px #dc2626F0;
	}
	25% {
		box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
	}
}
@keyframes pulse-animation-black {
	0% {
		box-shadow: 0 0 0 0px #475569F0;
	}
	25% {
		box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
	}
}
@keyframes pulse-animation-green {
	0% {
		box-shadow: 0 0 0 0px #16a34aF0;
	}
	25% {
		box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
	}
}
@keyframes pulse-animation-blue {
	0% {
		box-shadow: 0 0 0 0px #2563ebF0;
	}
	25% {
		box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
	}
}